body {
  background: url(imagemFundo.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fundoOpaco {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0%;
  top:0%;
}
.loginButtons {
  color: #FFF;
  z-index: 200;
}

.logo {
  position: absolute;
  width: 60%;
  height: 25%;
  top:5%;
  left: 20%;
  border-radius: 15px;
}
#logoImg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.texto {
  position: absolute;
  width: 90%;
  height: 13%;
  top: 35%;
  left: 5%;
  text-align: center;
  font-size: 18px;
  font-family: cursive;
  color: #FFF;
}
.tenhaAlgoPraEmprestar{
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  top: 50%;
  border-radius: 15px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-family: cursive;
  background-color: rgba(0, 76, 153, 0.9);
}
.precisoDeAlgoEmprestado {
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  top: 65%;
  border-radius: 15px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-family: cursive;
  background-color: rgba(0, 153, 76, 0.9);
}
.entreParaOClubeAgora {
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  top: 80%;
  border-radius: 15px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-family: cursive;
  background-color: rgba(0, 0, 0, 0.9);
}
#linkPerfil {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

/** ============= PERFIL ============ **/
.Titulo {
  position: absolute;
  width: 90%;
  height: 10%;
  left: 5%;
  text-align: center;
  font-family: cursive;
  font-size: 18px;
  color: #FFF;
  border-radius: 15px;
  border: solid 3px #FFF;
}
#meuTaNaMao{
  position: absolute;
  left: 35%;
}
#minhaEstante {
  position: absolute;
  left: 35%;
}
#meuPerfil {
    position: absolute;
    left: 35%;
}
.barraLateral {
  position: absolute;
  height: 70%;
  width: 20%;
  top: 25%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  border: solid 3px #FFF;
}
.novidades {
  position: absolute;
  width: 75%;
  height: 70%;
  top: 25%;
  left: 23%;
  color: #FFF;
  border: solid 3px #FFF;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.minhaEstante {
    position: absolute;
    width: 75%;
    height: 70%;
    top: 25%;
    left: 23%;
    color: #FFF;
    border: solid 3px #FFF;
    -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.meuPerfil {
    position: absolute;
    width: 75%;
    height: 70%;
    top: 25%;
    left: 23%;
    color: #FFF;
    border: solid 3px #FFF;
    -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

#buttonMinhaEstante {
    position: absolute;
    width: 85%;
    height: 15%;
    top: 10%;
    left: 5%;
    border-radius: 15px;
    border: solid 3px #FFF;
}

#buttonMeuPerfil {
    position: absolute;
    width: 85%;
    height: 15%;
    top: 30%;
    left: 5%;
    border-radius: 15px;
    border: solid 3px #FFF;
}

#buttonMeuTaNaMao {
    position: absolute;
    width: 85%;
    height: 15%;
    top: 50%;
    left: 5%;
    border-radius: 15px;
    border: solid 3px #FFF;
}
/** ============= PERFIL =END======== **/

/** ============= O QUE VOCÊ PRECISA ======= **/
.FormOQueVocePrecisaClass {
  position: absolute;
  width: 90%;
  height: 7%;
  left: 5%;
  top: 10%;
}
#inputOqueVcPrecisa {
  position: absolute;
  width: 80%;
  height: 100%;
}
#btnProcurar {
  position: absolute;
  width: 20%;
  height: 115%;
  left: 82%;
}
#imgSearch {
  position: absolute;
  width: 90%;
  height: 90%;
  top:5%;
  left: 5%;
}
/** ============= O QUE VOCÊ PRECISA =END=== **/


/** =========== ANIMATIONS ================= **/

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}


@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

/** =========== ANIMATIONS =END============= **/
