<div class="superContent">

  <div class="logo">
    <img src="logo.jpg" id="logoImg" />
  </div>

  <div class="texto">
    <p>Seu clube de trocas! Alugue ou empreste qualquer coisa com seus amigos.</p>
  </div>

  <div class="tenhaAlgoPraEmprestar">
    <a ui-sref="ativo" id="linkPerfil"></a>
    <p>Tenho algo para emprestar!</p>
  </div>

  <div class="precisoDeAlgoEmprestado">
    <a ui-sref="emprestado" id="linkPerfil"></a>
    <p>Preciso de algo emprestado!</p>
  </div>

  <div class="entreParaOClubeAgora">
    <a ui-sref="perfil" id="linkPerfil"></a>
    <p>Entre para o clube!</p>
  </div>
</div>
